<template>
  <div class="game-details">
    <div class="game-details__container">
      <h1 class="game-details__container__game-title">
        {{game.title}}
      </h1> 
      <div class="game-details__container__author-details">
        <span>{{game.author.name}} - {{game.author.email}}</span>
      </div>
      <img v-bind:src="game.preview_img_url" />
      <p>
        <a v-bind:href="game.url">Go to game's website</a>
      </p>
      <p class="game-details__container__description">{{game.description}}</p>
      <div class="game-details__container__actions">
        <button>
          <router-link :to="{ name: 'Game-edit', params: {id: game.id} }">
            Edit
          </router-link>
        </button>
        <button v-on:click="isModalVisible = true;">Delete</button>
      </div>
    </div>
    <Modal v-show="isModalVisible" @close="isModalVisible = false;" @confirm="deleteGame"></Modal>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Getter, Mutation } from 'vuex-class';
import Game from '@/models/Game';
import Modal from '@/components/Modal.vue';

@Component({
    components: {Modal}
})
export default class GameDetails extends Vue {
  @Getter('Games/gameById') protected gameById!: (id: string) => Game;
  @Mutation('Games/DELETE_GAME') protected delete!: (id: string) => Game;

  protected game!: Game;
  protected isModalVisible: boolean = false;

  created(): void {
    this.game = this.gameById(this.$route.params.id);
  }

  deleteGame(): void {
    this.delete(this.$route.params.id);
    this.$router.push('/');
  }
}
</script>

<style lang="scss">
@import '~@/assets/styles/_variables.scss';

.game-details {
  &__container {
    img {
      width: 95%;
      @media only screen and (min-width: 1024px) {
        width: 50%;
      }
    }
    &__game-title {
      margin-bottom: 0;
    }
    &__description {
      justify-content: center;
      display: flex;
      @media only screen and (min-width: 1024px) {
        padding: 0 20%;
      }
      margin-bottom: 0;
      text-align: initial;
    }
    &__actions {
      margin: 20px 0;
      button {
        cursor: pointer;
        margin: 0 10px;
        letter-spacing: 0.1em;
        background: transparent;
        border: 0;
        color: $blue-ribbon;
        border: 1px solid $blue-ribbon;
        padding: 10px 25px;
        a {
          color: $blue-ribbon;
        }
      }
    }
  }
}
</style>