<template>
  <div class="game-edit">
    <GameForm :game="game" @edit="saveGame"></GameForm>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Getter, Mutation } from 'vuex-class';
import Game from '@/models/Game';
import GameForm from '@/components/GameForm.vue';

@Component({
  components: {GameForm}
})
export default class GameEdit extends Vue {
  @Getter('Games/gameById') protected gameById!: (id: string) => Game;
  @Mutation('Games/EDIT_GAME') protected updateGame!: (data: Game) => Game
  protected game!: Game;
  
  created(): void {
    this.game = this.gameById(this.$route.params.id);
  }

  saveGame(data: Game): void {
    this.updateGame(data);
    this.$toasted.global.megatoast("Game saved correctly!", { 
      theme: "megatoast", 
      position: "bottom-right",
      duration : 5000
    });
    this.$router.push(`/game/${data.id}`);
  }
}
</script>

<style lang="scss">
.game-edit {
  display: flex;
  justify-content: center;
}
</style>