<template>
  <div class="game-new">
    <GameForm @save="saveGame"></GameForm>
  </div>
</template>

<script lang="ts">
import Game from '@/models/Game';
import Vue from 'vue';
import Component from 'vue-class-component';
import { Mutation } from 'vuex-class';
import GameForm from '@/components/GameForm.vue';

@Component({
  components: {GameForm}
})
export default class GameNew extends Vue {
  @Mutation('Games/SAVE_NEW_GAME') protected saveNewGame!: (game: Game) => Game;
  protected gameForm!: Game;

  saveGame(data: Game): void {
    this.saveNewGame(data);
    this.$toasted.global.megatoast("Game created correctly!", { 
      theme: "megatoast", 
      position: "bottom-right",
      duration : 3000
    });
    this.$router.push('/');
  }
}
</script>

<style lang="scss">
.game-new {
  display: flex;
  justify-content: center;
}
</style>