<template>
  <div class="home">
    <ul>
      <li v-for="game in games" :key="game.id" class="home__videogame-card">
        <router-link :to="{ name: 'Game-details', params: {id: game.id}, props: {game: game} }">
            <img v-bind:src="game.preview_img_url" />
            <h2 class="home__videogame-card__title">{{game.title}}</h2>
            <span class="home__videogame-card__description">{{game.description}}</span>
            <span class="home__videogame-card__see-more">See more...</span>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Getter } from 'vuex-class'
import Game from '@/models/Game';

@Component
export default class Home extends Vue {
  @Getter('Games/gameList') protected games!: Game[];

  created(): void {
    this.games;
  }
}
</script>

<style lang="scss">
@import '~@/assets/styles/_variables.scss';

.home {
  &__videogame-card {
    width: 100%;
    @media only screen and (min-width: 1024px) {
      width: 30%;
      max-height: 420px;
    }
    margin: 1%;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    a {
      text-decoration: none;
      text-transform: capitalize;
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }
    &__title {
      text-decoration: none;
      text-align: left;
      margin-left: 20px;
    }
    &__description {
      display: flex;
      margin: 20px;
      @media only screen and (min-width: 1024px) {
        height: 70px;
      }
      color: $mine-shaft;
      overflow: hidden;
      text-align: left;
    }
    &__see-more {
      margin: 15px;
      display: flex;
      justify-content: center;
    }
    &:hover {
      .home__videogame-card__see-more {
        background: -webkit-linear-gradient(117.12deg ,$royal-purple 19.62%,$blue-ribbon 80.88%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}
</style>
