<template>
  <div class="footer">
    <div class="app__footer">
      <span>This technical challenge is made with ❤️ by <a class="app__footer__link" href="https://gitlab.com/equero">Enrique Quero</a></span>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Footer extends Vue {}
</script>
<style lang="scss">

</style>