<template>
  <div class="container">
    <div class="game-form">
      <div class="game-form__form-field">
        <img v-bind:src="preview_url"/>
      </div>
      <div class="game-form__form-field">
        <label for="preview_url">Preview Url</label>
        <input type="preview_url" v-model="gameForm.preview_img_url" name="preview_url" @input="loadPreview" required />
      </div>
      <div class="game-form__form-field">
          <label for="name">Name</label>
        <input type="text" v-model="gameForm.title" name="name" required />
      </div>
      <div class="game-form__form-field">
        <label for="author-name">Author Name</label>
        <input type="text" v-model="gameForm.author.name" name="author-name" required />
      </div>
      <div class="game-form__form-field">
        <label for="author-email">Author Email</label>
      <input type="email" v-model="gameForm.author.email" name="author-email" required />
      </div>
      <div class="game-form__form-field">
        <label for="game-url">External Url</label>
        <input type="url" v-model="gameForm.url" name="game-url" required />
      </div>
      <div class="game-form__form-field">
        <label for="description">Description</label>
        <textarea rows="6" cols="37" v-model="gameForm.description" name="description" required />
      </div>
      <div class="game-form__form-field">
        <label for=""></label>
        <input type="submit" v-bind:value="submitTxt" v-on:click="clickSubmit" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Game from '@/models/Game';

@Component
export default class GameForm extends Vue {
  @Prop() readonly game!: Game;
  protected gameForm!: Game;
  protected submitTxt: string = '';
  protected preview_url: string = '';

  created() {
    if (this.game?.id) {
      this.gameForm = {...this.game};
      this.submitTxt = "Edit Game";
      this.preview_url = this.gameForm.preview_img_url;
    } else {
      this.gameForm = { 
        "id": Math.random().toString(36).substr(2, 9),
        "title": "",
        "description": "",
        "preview_img_url": "",
        "url": "",
        "author": {
          "name": "",
          "email": ""
        }
      };
      this.submitTxt = "Save Game";
    }
  }

  loadPreview(): void {
    this.preview_url = this.gameForm.preview_img_url;
  }

  clickSubmit() {
    const event = this.game?.id ? 'edit' : 'save';
    this.$emit(event, this.gameForm);
  }
}
</script>

<style lang="scss">
@import '~@/assets/styles/_variables.scss';

.container{
  display: flex;
  justify-content: center;
  .game-form {
    width: 700px;
    padding: 2rem;
    box-sizing: border-box;
    img {
      background: $swiss-coffee;
      width: 100%;
      object-fit: cover;
      height: 300px;
    }
    &__form-field {
      display: flex;
      margin: 0 0 1rem 0;
      label,input {
          width: 50%;
        padding: 0.5rem;
        box-sizing: border-box;
        justify-content: space-between;
        font-size: 1.1rem;
      }
      label {
        text-align: right;
        width: 30%;
      }
      input, textarea {
        border: 2px solid $silver-chalice;
        border-radius: 2px;
      }
      input[type=submit] {
        cursor: pointer;
        border: 1px solid $blue-ribbon;
        background: transparent;
        color: $blue-ribbon;
      }
    }
  }  
}
</style>