<template>
  <div class="header">
    <img alt="Megarush Logo" class="app__logo" src="~@/assets/logo.svg">
    <ul class="app__nav">
      <li>
        <router-link to="/">Home</router-link>
      </li>
      <li>
        <router-link to="/new">Add Game</router-link>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Header extends Vue {}
</script>
<style lang="scss">

</style>