<template>
  <div class="modal">
    <div class="modal__container">
      <header class="modal__container__modal-header">
        <slot name="header">
          Confirmation dialog
        </slot>
        <button
          type="button"
          class="btn-close"
          @click="close"
        >
          x
        </button>
      </header>

      <section class="modal__container__modal-body">
        <slot name="body">
          ARE YOU SURE!
        </slot>
       </section>

      <footer class="modal__container__modal-footer">
        <button
          type="button"
          class="btn-green"
          @click="confirm"
        >
          DELETE
        </button>
      </footer>
    </div>
  </div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Modal extends Vue {
    close() {
        this.$emit('close');
    }
    confirm() {
        this.$emit('confirm');
    }
}
</script>

<style lang="scss">
@import '~@/assets/styles/_variables.scss';

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
        background: white;
        width: 70%;
        @media only screen and (min-width: 1024px) {
            width: 30%;
        }
        box-shadow: 2px 2px 20px 1px;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        &__modal-header {
            padding: 15px;
            display: flex;
            position: relative;
            border-bottom: 1px solid $gallery;
            color: $blue-ribbon;
            justify-content: space-between;
            button {
                color: white;
                background: $blue-ribbon;
                border: 1px solid $tradewind;
                border-radius: 2px;
                cursor: pointer;
            }
        }
        &__modal-footer {
            padding: 15px;
            display: flex;
            border-top: 1px solid $gallery;
            flex-direction: column;
            justify-content: flex-end;
            button {
                border: none;
                font-size: 13px;
                padding: 10px;
                cursor: pointer;
                font-weight: bold;
                border: 1px solid $blue-ribbon;
                color: $blue-ribbon;
                background: transparent;
            }
        }
        &__modal-body {
            position: relative;
            padding: 20px 10px;
        }
    }
}
</style>