<template>
  <div class="app">
    <Header></Header>
    <router-view/>
    <Footer></Footer>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Game from './models/Game';
import { Mutation } from 'vuex-class';
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue';
import Toasted from 'vue-toasted';

Vue.use(Toasted)

Vue.toasted.register('megatoast', function (message) {return message }, {
    type : 'info',
    duration: 3000,
    position: "bottom-right",
    className: ['toaster']
});

@Component({
  components: {Header, Footer}
})
export default class App extends Vue {
  @Mutation('Games/LOAD_GAMES') protected loadData!: (data: Game[]) => Game[];
  @Mutation('Games/INIT_GAMES') protected initGames!: () => Game[];

  created() {
    if (!localStorage.getItem('gameList')) {
      this.initGames();
    } else {
      const data = JSON.parse(localStorage.getItem('gameList') || '{}');
      this.loadData(data);
    }
  }
}
</script>

<style lang="scss">
@import '~@/assets/styles/_variables.scss';

.toaster {
  font-family: Avenir, Helvetica, Arial, sans-serif !important;
}

a {
  &:hover,
	&:focus,
	&:active {
    text-decoration: none;
  }
}

body {
  width: 80%; 
  margin-left: 10%;
}

.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: $murky-sea-floor;
  margin-top: 60px;
  a {
    color: $blue-ribbon
  }

  &__logo {
    width: 350px;
  }

  &__nav {
    li {
      display: inline-block;
      margin: 0 10px;
      a {
        text-decoration: none;
        &:hover {
          background: -webkit-linear-gradient(117.12deg ,$royal-purple 19.62%, $blue-ribbon 80.88%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  &__footer {
    &__link {
      text-decoration: none;
      display: inline-block;
      background: -webkit-linear-gradient(117.12deg ,$royal-purple 19.62%,$blue-ribbon 80.88%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &:after {
        content: '';
        width: 0px;
        height: 1px;
        display: block;
        background: -webkit-linear-gradient(117.12deg ,$royal-purple 19.62%,$blue-ribbon 80.88%);
        transition: 300ms;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
</style>
